$a11y-font-scales: (
  50: (
    factor: 0.5
  ),
  70: (
    factor: 0.7
  ),
  85: (
    factor: 0.85
  ),
  100: (
    factor: 1.00
  ),
  115: (
    factor: 1.15
  ),
  130: (
    factor: 1.30
  ),
  150: (
    factor: 1.50
  ),
  200: (
    factor: 2.00
  ),
  250: (
    factor: 2.50
  ),
  300: (
    factor: 3.00
  ),
  350: (
    factor: 3.50
  ),
  400: (
    factor: 4.00
  )
) !default;
