.action-bar {
  $action-bar-title-font-size: 17;

  @each $scaleName, $params in $a11y-font-scales {
    $factor: map-get($params, factor);

    &.ayfs-#{$scaleName} {
      .action-bar-title {
        font-size: $action-bar-title-font-size * $factor;
      }
    }
  }
}
