@each $scale, $params in $a11y-font-scales {
  $font-size: 17;
  $factor: map-get($params, factor);

  .action-bar {
    .action-bar-title {
      &.a11y-fontscale-#{$scale} {
        font-size: $font-size * $factor;
      }
    }
  }
}
