.btn {
  $btn-font-size: 15;

  @each $scaleName, $params in $a11y-font-scales {
    $factor: map-get($params, factor);

    &.ayfs-#{$scaleName} {
      font-size: $btn-font-size * $factor;
    }
  }
}
