@each $scale, $params in $a11y-font-scales {
  $factor: map-get($params, factor);

  .form {
    .input-field {
      .label {
        &.a11y-fontscale-#{$scale} {
          $font-size: 12;
          font-size: $font-size * $factor;
        }
      }

      &.input-sides {
        .label {
          &.a11y-fontscale-#{$scale} {
            $font-size: 18;
            font-size: $font-size * $factor;
          }
        }
      }
    }
  }
}
