.form {
  .input-field {
    $input-font-size: 12;
    $input-slide-font-size: 18;
    @each $scaleName, $params in $a11y-font-scales {
      $factor: map-get($params, factor);

      .label {
        &.a11y-fontscale-#{$scaleName} {
          font-size: $input-font-size * $factor;
        }
      }

      &.input-sides {
        .label {
          &.a11y-fontscale-#{$scaleName} {
            font-size: $input-slide-font-size * $factor;
          }
        }
      }
    }
  }
}
