.form {
  $input-font-size: 12;
  $input-slide-font-size: 18;

  @each $scaleName, $params in $a11y-font-scales {
    $factor: map-get($params, factor);

    &.ayfs-#{$scaleName} {
      .input-field {
        .label {
          font-size: $input-font-size * $factor;
        }
      }

      &.input-sides {
        .label {
          font-size: $input-slide-font-size * $factor;
        }
      }
    }
  }
}
