.list-group {
  .list-group-item {
    $group-item-font-size: 16;
    $text-item-font-size: 14;
    @each $scaleName, $params in $a11y-font-scales {
      $factor: map-get($params, factor);

      &.a11y-fontscale-#{$scaleName} {
        font-size: $group-item-font-size * $factor;
      }

      .list-group-item-text {
        &.a11y-fontscale-#{$scaleName} {
          font-size: $text-item-font-size * $factor;
        }
      }
    }
  }
}
