@each $scale, $params in $a11y-font-scales {
  $factor: map-get($params, factor);

  .list-group {
    .list-group-item {
      &.a11y-fontscale-#{$scale} {
        $font-size: 16;
        font-size: $font-size * $factor;

        .list-group-item-text {
          $font-size: 14;
          font-size: $font-size * $factor;
        }
      }
    }
  }
}
