$login-logo-font-size: 30;
$go-back-font-size: 14;
@each $scaleName, $params in $a11y-font-scales {
  $factor: map-get($params, factor);

  .logo-wrap {
    &.ayfs-#{$scaleName} {
      .login-logo {
        font-size: $login-logo-font-size * $factor;
      }
    }
  }

  .go-back {
    &.ayfs-#{$scaleName} {
      font-size: $go-back-font-size * $factor;
    }
  }
}
