@each $scale, $params in $a11y-font-scales {
  $factor: map-get($params, factor);

  .logo-wrap {
    .login-logo {
      &.a11y-fontscale-#{$scale} {
        $font-size: 30;
        font-size: $font-size * $factor;
      }
    }
  }

  .go-back {
    &.a11y-fontscale-#{$scale} {
      $font-size: 14;
      font-size: $font-size * $factor;
    }
  }
}
