@each $scale, $params in $a11y-font-scales {
  $factor: map-get($params, factor);

  Page.a11y-fontscale-#{$scale} {
    .logo-wrap {
      .login-logo {
        $font-size: 30;
        font-size: $font-size * $factor;
      }
    }
    .go-back {
      $font-size: 14;
      font-size: $font-size * $factor;
    }
  }
}

