@each $scale, $params in $a11y-font-scales {
  $font-size: 13;
  $factor: map-get($params, factor);

  .segmented-bar {
    &.a11y-fontscale-#{$scale} {
      font-size: $font-size * $factor;
    }
  }
}
