.segmented-bar {
  $segmented-bar-font-size: 13;
  $segmented-bar-height: 30;

  height: $segmented-bar-height;
  @each $scaleName, $params in $a11y-font-scales {
    $factor: map-get($params, factor);
    &.ayfs-#{$scaleName} {
      font-size: $segmented-bar-font-size * $factor;
      height: $segmented-bar-height * $factor;
    }
  }
}
