$a11y-font-sizes: (
  10: (
    scales: $a11y-font-scales,
  ),
  12: (
    scales: $a11y-font-scales,
  ),
  14: (
    scales: $a11y-font-scales,
  ),
  15: (
    scales: $a11y-font-scales,
  ),
  16: (
    scales: $a11y-font-scales,
  ),
  17: (
    scales: $a11y-font-scales,
  ),
  18: (
    scales: $a11y-font-scales,
  ),
  19: (
    scales: $a11y-font-scales,
  ),
  20: (
    scales: $a11y-font-scales,
  ),
  25: (
    scales: $a11y-font-scales,
  ),
  30: (
    scales: $a11y-font-scales,
  ),
) !default;

@each $font-size, $values in $a11y-font-sizes {
  $scales: map-get($values, scales);

  @each $scaleName, $params in $scales {
    $factor: map-get($params, factor);

    .t-#{$font-size} {
      &.a11y-fontscale-#{$scaleName} {
        font-size: $font-size * $factor;
      }
    }
  }
}
