<ActionBar title="Demo of nativescript-accessibility-ext"></ActionBar>
<ScrollView>
  <StackLayout>
    <StackLayout
      class="text-center p-10"

      accessible="true"
      accessibilityLabel="Congratulation accessibility is enabled"
      accessibilityTraits="header"
    >
      <ios>
        <Label text="Enable VoiecOver, if you haven't already"></Label>
      </ios>
      <android>
        <Label text="Enable TalkBack, if you haven't already"></Label>
      </android>
    </StackLayout>

    <StackLayout class="feature-group">
      <Label accessibilityAdjustsFontSize="true" accessibilityTraits="header" class="h1 text-center m-2" text="accessible (iOS, Android)"></Label>
      <Label class="body" textWrap="true" text="If 'true' the element is an accessibility element and all the children will be treated as a single selectable component."></Label>

      <StackLayout class="m-y-5">
        <Label class="h2" text="Allowed value:"></Label>
        <Label class="p-x-5" text="true"></Label>
        <Label class="p-x-5" text="false"></Label>
      </StackLayout>

      <Label class="h2" text="Examples:"></Label>

      <StackLayout
        class="feature-example"

        accessible="true"
        accessibilityLabel="This is read as a group"
      >
        <Label class="text-left" text='accessible="true"'></Label>
        <Label class="body" text="these elements shouldn't be read, only the box"></Label>

        <Button
          class="m-2 btn"
          text="tap me"
          accessibilityLabel="Unless of cause child elements that are marked as accessible too, like 'tap me'"

          accessible="true"
          accessibilityComponentType="button"
          accessibilityTraits="button"
          (tap)="tapped($event)"
        ></Button>

        <Button
          class="m-2 btn"
          text="tap me 2"
          accessibilityLabel="Unless of cause child elements that are marked as accessible too, like 'tap me 2'"

          accessible="true"
          accessibilityComponentType="button"
          accessibilityTraits="button"
          (tap)="tapped($event)"
        ></Button>
      </StackLayout>

      <StackLayout class="feature-example" accessible="false">
        <Label class="text-left" text='accessible="false"'></Label>

        <StackLayout class="body" orientation="horizontal">
          <Label class="p-x-2" text="These"></Label>
          <Label class="p-x-2" text="elements"></Label>
          <Label class="p-x-2" text="are"></Label>
          <Label class="p-x-2" text="read one"></Label>
          <Label class="p-x-2" text="by one"></Label>
        </StackLayout>
      </StackLayout>
    </StackLayout>

    <StackLayout class="feature-group">
      <Label accessibilityTraits="header" class="h1 text-center" textWrap="true" text="accessibilityLabel (iOS, Android)"></Label>

      <Label class="body" textWrap="true" text="
Set the accessibility label on the element, this will be read by the screen reader inplace in any 'text' value the element has.
Important note:
  NativeScript provides the property automationText, this sets both `accessibilityLabel` AND `accessibilityIdentifier` on iOS which can break automated tests.
  If you use `accessibilityLabel` from this plugin, don't use `automationText` at the same time.
      "></Label>

      <StackLayout class="m-y-5">
        <Label class="h2" text="Allowed value:"></Label>
        <Label class="p-x-5" text="Any text value"></Label>
      </StackLayout>

      <Label class="h2" text="Examples:"></Label>

      <StackLayout class="feature-example">
        <Label class="m-y-5" text="The shown text" accessibilityLabel="The shown text is not the same text that is read aloud"></Label>
      </StackLayout>
    </StackLayout>

    <StackLayout class="feature-group">
      <Label accessibilityTraits="header" class="h1 text-center m-2" text="accessibilityTraits (iOS)"></Label>
      <Label class="body" textWrap="true" text="Identifies the traits of a component. Is it a static-text? Is is a Button? Is it a header?"></Label>

      <StackLayout class="m-y-5">
        <Label class="h2" text="Allowed value (use one or more):"></Label>

        <StackLayout *ngFor="let item of traits; let odd = odd;" [class.c-bg-grey]="odd">
          <Label [text]="item.key"></Label>
          <Label class="body" [text]="item.label" textWrap="true"></Label>
        </StackLayout>
      </StackLayout>

      <Label class="h2" text="Examples:"></Label>

      <StackLayout
        class="feature-example"
      >
        <Label text="Label as button" (tap)="tapped($event)" class="c-bg-grey" accessibilityTraits="button"></Label>
        <Label text="Label as button+link" (tap)="tapped($event)" accessibilityTraits="button,link"></Label>
        <Label text="Label as selected button+link" (tap)="tapped($event)" class="c-bg-grey" accessibilityTraits="selected,button,link"></Label>
      </StackLayout>
    </StackLayout>

    <StackLayout class="feature-group">
      <Label accessibilityTraits="header" class="h1 text-center m-2" text="accessibilityValue (iOS)"></Label>
      <Label class="body" textWrap="true" text=""></Label>

      <StackLayout class="m-y-5">
        <Label class="h2" text="Allowed value:"></Label>
        <Label class="p-x-5" text="Any text value"></Label>
      </StackLayout>

      <Label class="h2" text="Examples:"></Label>

      <StackLayout
        class="feature-example"
      >
        <Label textWrap="true" [text]="'Slider with accessibilityValue: VoiceOver should read:\n' + sliderA11YValue"></Label>
        <Slider [min]="sliderMin" [max]="sliderMax" [(ngModel)]="sliderValue" [accessibilityValue]="sliderA11YValue"></Slider>
        <Label text="Slider without accessibilityValue"></Label>
        <Slider [min]="sliderMin" [max]="sliderMax" [(ngModel)]="sliderValue"></Slider>
      </StackLayout>
    </StackLayout>

    <StackLayout class="feature-group">
      <Label accessibilityTraits="header" class="h1 text-center m-2" textWrap="true" text="accessibilityComponentType (Android)"></Label>
      <Label class="body" textWrap="true" text="Alert the user to what kind of element is selected. E.g. is this a button"></Label>

      <StackLayout class="m-y-5">
        <Label class="h2" text="Allowed value:"></Label>

        <StackLayout *ngFor="let item of componentTypes; let odd = odd" [class.c-bg-grey]="odd">
          <Label [text]="item.key"></Label>
          <Label class="body" [text]="item.label" textWrap="true"></Label>
        </StackLayout>
      </StackLayout>

      <Label class="h2" text="Examples:"></Label>

      <StackLayout
        class="feature-example"
      >
        <Label text="Label as button" (tap)="tapped($event)" class="c-bg-grey" accessibilityComponentType="button"></Label>
        <Label text="Label as checked radio-button"  (tap)="tapped($event)" accessibilityComponentType="radiobutton_checked"></Label>
        <Label text="Label as unchecked radio-button" (tap)="tapped($event)" class="c-bg-grey" accessibilityComponentType="radiobutton_unchecked"></Label>
      </StackLayout>
    </StackLayout>

    <StackLayout class="feature-group">
      <Label accessibilityTraits="header" class="h1 text-center" text="Buttons"></Label>

      <Button class="text-right" text="Normal" accessibilityLabel="this is just a normal"></Button>

      <GridLayout rows="50, 50" columns="100, 100">
        <StackLayout
          col="0"

          accessible="true"
          accessibilityLabel="This now a button"
          accessibilityComponentType="button"
          accessibilityTraits="button"
        >
          <Label text="Text-only button" (tap)="tapped($event)" textWrap="true"></Label>
        </StackLayout>

        <StackLayout
          col="1"
          rowSpan="2"

          accessible="true"
          accessibilityLabel="This now a button with an icon"
          accessibilityComponentType="button"
          accessibilityTraits="button"
          (tap)="tapped($event)"
        >
          <Image height="50" src="res://btnicon"></Image>
          <Label class="text-center" text="Icon-button" textWrap="true"></Label>
        </StackLayout>
      </GridLayout>
    </StackLayout>
  </StackLayout>
</ScrollView>
