@import '~nativescript-theme-core/scss/light';
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.android';

@import '~@nota/nativescript-accessibility-ext/scss/a11y.android';