.feature-group {
  border-width: 2;
  border-color: #cecece;
  border-radius: 4;
  margin: 2;
  padding: 2;

  .h1, .h2, .h3, .h4, .h5 {
    border-bottom-width: 1;
    background-color: #999;
    border-bottom-color: #cecece;
  }

  .feature-example {
    border-width: 2;
    border-color: #cecece;
    border-radius: 4;
    margin-top: 2;
    margin-bottom: 2;
    padding: 2;
  }
}

Image {
  stretch: aspectFit;
}
