.screen-reader {
  border-width: 1;
  border-radius: 10;
  padding: 10;
  margin: 0 10;

  Label {
    a11y-role: button;
  }
}

ListView {
  .list-view-item {
    orientation: horizontal;
    a11y-enabled: true;
    a11y-role: button;

    &.odd {
      a11y-role: switch;
      a11y-state: checked;
    }
  }
}
