<ActionBar title="{N} accessibility" accessibilityLabel="{N} accessibility" class="action-bar"></ActionBar>

<GridLayout class="p-b-10 p-t-10" rows="auto, *" columns="*">
  <StackLayout row="0">
    <ios>
      <StackLayout class="text-center h1 screen-reader a11y-service-enabled-hidden">
        <Label text="You need to enable VoiceOver" textWrap="true"></Label>
      </StackLayout>
      <StackLayout class="text-center h1 screen-reader a11y-service-enabled-visible">
        <Label text="VoiceOver enabled" textWrap="true" class="screen-reader-enabled"></Label>
      </StackLayout>
    </ios>

    <android>
      <StackLayout class="text-center h1 screen-reader a11y-service-enabled-hidden">
        <Label text="You need to enable TalkBack" textWrap="true"></Label>
      </StackLayout>
      <StackLayout class="text-center h1 screen-reader a11y-service-enabled-visible">
        <Label text="TalkBack enabled" textWrap="true" class="screen-reader-enabled"></Label>
      </StackLayout>
    </android>
    <slider minValue="0" maxValue="100" value="50"></slider>
  </StackLayout>
  <ListView row="1" [items]="source" class="list-group">
    <ng-template let-item="item" let-index="index" let-odd="odd" let-even="even">
      <StackLayout
        [class.odd]="odd"
        [class.even]="even"
        class="list-group-item"
        [accessibilityLabel]="item.name"
        (accessibilityFocus)="onAccessibilityFocus($event, index)"
      >
        <Label [text]="item.name"></Label>
      </StackLayout>
    </ng-template>
  </ListView>
</GridLayout>
