*.js
*.d.ts
*.js.map
*.css
app/theme-core-scss/
app/core.*.scss
platforms
app/_bootstrap-map.scss
node_modules
*.d.ts
app/vendor-platform.android.ts
app/vendor-platform.ios.ts
app/vendor.ts
tsconfig.aot.json
report
