@each $scale, $params in $font-scales {
  $factor: map-get($params, factor);

  Page.a11y-fontscale-#{$scale} {
    .form {
      .input-field {
        .label {
          $font-size: 12;
          font-size: $font-size * $factor;
        }

        &.input-sides {
          .label {
            $font-size: 18;
            font-size: $font-size * $factor;
          }
        }
      }
    }
  }
}

