<ActionBar title="{N} accessibility" accessibilityLabel="{N} accessibility" class="action-bar"></ActionBar>

<GridLayout class="p-b-10 p-t-10" rows="auto, *" columns="*">
  <StackLayout row="0">
    <ios>
      <StackLayout class="text-center h1 screen-reader disabled">
        <Label text="You need to enable VoiceOver" textWrap="true"></Label>
      </StackLayout>
      <StackLayout class="text-center h1 screen-reader enabled">
        <Label text="VoiceOver enabled" textWrap="true"></Label>
      </StackLayout>
    </ios>

    <android>
      <StackLayout class="text-center h1 screen-reader disabled">
        <Label text="You need to enable TalkBack" textWrap="true"></Label>
      </StackLayout>
      <StackLayout class="text-center h1 screen-reader enabled">
        <Label text="TalkBack enabled" textWrap="true"></Label>
      </StackLayout>
    </android>
  </StackLayout>
  <ListView row="1" [items]="source" (loaded)="onLoaded($event)" (itemLoading)="onItemLoading($event)" (itemTap)="onItemTap($event)" class="list-group">
    <ng-template let-item="item" let-index="index" let-odd="odd" let-even="even">
      <StackLayout [class.odd]="odd" [class.even]="even" accessible="true" (accessibilityFocus)="onAccessibilityFocus($event, index)" class="list-group-item">
        <Label [text]="item.name"></Label>
      </StackLayout>
    </ng-template>
  </ListView>
</GridLayout>
