<ActionBar title="{N} accessibility" accessibilityLabel="{N} accessibility" class="action-bar"></ActionBar>

<StackLayout class="p-20">
  <ios>
    <StackLayout *ngIf="!screenReaderEnabled" class="text-center h1 screen-reader">
      <Label text="You need to enable VoiceOver" textWrap="true"></Label>
    </StackLayout>
    <StackLayout *ngIf="screenReaderEnabled" class="text-center h1 screen-reader">
      <Label text="VoiceOver enabled" textWrap="true"></Label>
    </StackLayout>
  </ios>

  <android>
    <StackLayout *ngIf="!screenReaderEnabled" class="text-center h1 screen-reader">
      <Label text="You need to enable TalkBack" textWrap="true"></Label>
    </StackLayout>
    <StackLayout *ngIf="screenReaderEnabled" class="text-center h1 screen-reader">
      <Label text="TalkBack enabled" textWrap="true"></Label>
    </StackLayout>
  </android>
</StackLayout>
