ActionBar,
NTActionBar,
.nt-action-bar {
  .action-bar-title {
    font-size: calc(17 * var(--a11y-fontscale-factor, 1));
  }

  NTIcon,
  label,
  button,
  .nt-action-bar__item {
    font-size: calc(15 * var(--a11y-fontscale-factor, 1));
  }
}

button,
.nt-button {
  // $btn-font-size: 18 in nativescript-theme-core
  font-size: calc(18 * var(--a11y-fontscale-factor, 1));
}

label,
.nt-label {
  font-size: calc(14 * var(--a11y-fontscale-factor, 1));
}

SegmentedBar,
.nt-segmented-bar {
  font-size: calc(13 * var(--a11y-fontscale-factor, 1));
  height: calc(30 * var(--a11y-fontscale-factor, 1));
}

ListView,
RadListView,
.nt-list-view {
  > * {
    font-size: calc(16 * var(--a11y-fontscale-factor, 1));
  }

  NTIcon,
  .nt-icon {
    font-size: calc(20 * var(--a11y-fontscale-factor, 1));
  }
}

RadSideDrawer,
.nt-drawer {
  .nt-drawer__header {
    label {
      font-size: calc(16 * var(--a11y-fontscale-factor, 1));
    }

    > label {
      font-size: calc(40 * var(--a11y-fontscale-factor, 1));
    }

    &-brand {
      font-size: calc(15 * var(--a11y-fontscale-factor, 1));
    }
  }
}

form,
.nt-form {
  .nt-form__title {
    font-size: calc(18 * var(--a11y-fontscale-factor, 1));
  }
}

TextView,
TextField,
PickerField,
DatePickerField,
TimePickerField,
DateTimePickerFields,
DataFormEditorCore {
  font-size: calc(15 * var(--a11y-fontscale-factor, 1));
}

NTInput,
.nt-input {
  > label {
    font-size: calc(16 * var(--a11y-fontscale-factor, 1));
  }

  & > NTIcon,
  & > .nt-icon {
    font-size: calc(24 * var(--a11y-fontscale-factor, 1));
  }
}
