.a11y-service-enabled-hidden {
  &.a11y-service-enabled {
    visibility: collapse;
  }
}

.a11y-service-enabled-visible {
  &:not(.a11y-service-enabled) {
    visibility: collapse;
  }
}

.a11y-service-disabled-hidden {
  &.a11y-service-disabled {
    visibility: collapse;
  }
}

.a11y-service-disabled-visible {
  &:not(.a11y-service-disabled) {
    visibility: collapse;
  }
}

.a11y-fontscale-xs-hidden {
  &.a11y-fontscale-xs {
    visibility: collapse;
  }
}

.a11y-fontscale-xs-visible {
  &:not(.a11y-fontscale-xs) {
    visibility: collapse;
  }
}

.a11y-fontscale-xl-hidden {
  &.a11y-fontscale-xl {
    visibility: collapse;
  }
}

.a11y-fontscale-xl-visible {
  &:not(.a11y-fontscale-xl) {
    visibility: collapse;
  }
}
