.a11y-service-disabled {
  &.a11y-service-enabled-visible,
  &.a11y-service-disabled-hidden {
    visibility: collapse;
  }
}

.a11y-service-enabled {
  &.a11y-service-enabled-hidden,
  &.a11y-service-disabled-hidden {
    visibility: collapse;
  }
}

.a11y-fontscale-xs {
  &.a11y-fontscale-xs-hidden,
  &.a11y-fontscale-xl-visible {
    visibility: collapse;
  }
}

.a11y-fontscale-m {
  &.a11y-fontscale-m-hidden,
  &.a11y-fontscale-xs-visible,
  &.a11y-fontscale-xl-visible {
    visibility: collapse;
  }
}

.a11y-fontscale-xl {
  &.a11y-fontscale-xl-hidden,
  &.a11y-fontscale-m-visible,
  &.a11y-fontscale-xs-visible {
    visibility: collapse;
  }
}
