@import './fontscales';

.a11y-service-disabled {
  .a11y-service-enabled-visible,
  .a11y-service-disabled-hidden {
    visibility: collapse;
  }
}

.a11y-service-enabled {
  .a11y-service-enabled-hidden,
  .a11y-service-disabled-hidden {
    visibility: collapse;
  }
}

.a11y-fontscale-xs {
  .a11y-fontscale-xs-hidden,
  .a11y-fontscale-xl-visible {
    visibility: collapse;
  }
}

.a11y-fontscale-m {
  .a11y-fontscale-m-hidden,
  .a11y-fontscale-xs-visible,
  .a11y-fontscale-xl-visible {
    visibility: collapse;
  }
}

.a11y-fontscale-xl {
  .a11y-fontscale-xl-hidden,
  .a11y-fontscale-m-visible,
  .a11y-fontscale-xs-visible {
    visibility: collapse;
  }
}

.ns-root,
.ns-modal {
  --a11y-fontscale-factor: 1;
  --const-segmented-bar-font-size: 15;
  --const-drawer-header-font-size: 40;

  --const-segmented-bar-height: 56;

  --a11y-font-size: var(--const-font-size);
  --const-font-size-2: calc(var(--const-font-size) - 2);
  --a11y-font-size-2: var(----const-font-size-2);
  --a11y-btn-font-size: var(--const-btn-font-size);
  --a11y-icon-font-size-lg: var(--const-icon-font-size-lg);
  --a11y-segmented-bar-font-size: var(--const-segmented-bar-font-size);
  --a11y-segmented-bar-height: var(--const-segmented-bar-height);
  --a11y-drawer-header-font-size: var(--const-drawer-header-font-size);

  @each $text-class, $values in $a11y-font-sizes {
    $a11y-font-size: map-get($values, font-size);

    --a11y-#{$text-class}-size: #{$a11y-font-size};
  }

  @each $label-class, $values in $a11y-label-classes {
    $a11y-font-size: map-get($values, font-size);

    --a11y-#{$label-class}-size: #{$a11y-font-size};
  }

  &.ns-a11y {
    font-size: var(--a11y-font-size);
  }
}

.ns-ios,
.ns-modal[ios] {
  --const-segmented-bar-height: 30;

  --a11y-font-size: calc(var(--const-font-size) * var(--a11y-fontscale-factor));
  --a11y-font-size-2: calc(var(--const-font-size-2) * var(--a11y-fontscale-factor));
  --a11y-btn-font-size: calc(var(--const-btn-font-size) * var(--a11y-fontscale-factor));
  --a11y-icon-font-size-lg: calc(var(--const-icon-font-size-lg) * var(--a11y-fontscale-factor));
  --a11y-segmented-bar-font-size: calc(var(--const-segmented-bar-font-size) * var(--a11y-fontscale-factor));
  --a11y-segmented-bar-height: calc(var(--const-segmented-bar-height) * var(--a11y-fontscale-factor));
  --a11y-drawer-header-font-size: calc(var(--const-drawer-header-font-size) * var(--a11y-fontscale-factor));

  @each $text-class, $values in $a11y-font-sizes {
    $a11y-font-size: map-get($values, font-size);

    --a11y-#{$text-class}-size: calc(#{$a11y-font-size} * var(--a11y-fontscale-factor));
  }

  @each $label-class, $values in $a11y-label-classes {
    $a11y-font-size: map-get($values, font-size);

    --a11y-#{$label-class}-size: calc(#{$a11y-font-size} * var(--a11y-fontscale-factor));
  }
}

.a11y-enabled {
  a11y-enabled: true;
}

Slider {
  @extend .a11y-enabled;
  a11y-role: adjustable;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.a11y-header {
  @extend .a11y-enabled;
  a11y-role: header;
}

@each $scaleName, $params in $a11y-font-scales {
  $a11y-fontscale-factor: map-get($params, factor); // scaling factor 0.8, 1.0., 1.3 etc

  .a11y-fontscale-#{$scaleName} {
    --a11y-fontscale-factor: #{$a11y-fontscale-factor};
  }
}

.a11y-hidden {
  a11y-hidden: true;
}

.a11y-btn, Button {
  @extend .a11y-enabled;
  a11y-role: button;
  > * {
    @extend .a11y-hidden;
  }
}

%a11y-checkable {
  @extend .a11y-enabled;

  &.a11y-checked {
    a11y-state: checked;
  }
}

.a11y-radiobtn {
  @extend %a11y-checkable;
  a11y-role: radiobutton;
}
.a11y-checkbox {
  @extend %a11y-checkable;
  a11y-role: checkbox;
}
.a11y-switch {
  @extend %a11y-checkable;
  a11y-role: switch;
}
.a11y-disabled {
  a11y-state: disabled;
}

.a11y-selected {
  a11y-state: selected;
}

.a11y-weblink {
  @extend .a11y-enabled;
  a11y-role: link;
}

.a11y-start-media {
  @extend .a11y-enabled;
  a11y-role: button;
  a11y-media-session: true;
}

.a11y-image {
  @extend .a11y-enabled;
  a11y-role: image;
}

.a11y-search-btn {
  @extend .a11y-enabled;
  a11y-role: search;
}

.a11y-updates-often {
  @extend .a11y-enabled;
  a11y-live-region: assertive;
}
